// Header (navigation bar)
.navbar {
  transition: $transition-base;

  &#{-sm} {
    padding: .5rem 1rem;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.15);
  }

  &#{-hidden} {
    visibility: hidden;
    opacity: 0;
  }
}

.navbar-brand {
  width: 40%;
  max-width: 185px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 360px) {
    width: 45%;
  }

  @include media-breakpoint-up(xl) {
    margin-right: 2.5rem;
  }
}

.navbar-light .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='rgba%280,0,0,0.5%29' d='M885.525 835.018c13.958 13.958 13.958 36.564 0 50.508-6.972 6.972-16.116 10.476-25.26 10.476-9.132 0-18.276-3.499-25.246-10.476l-323.029-323.011-323.011 323.011c-6.972 6.972-16.116 10.476-25.26 10.476-9.132 0-18.276-3.499-25.246-10.476-13.958-13.945-13.958-36.548 0-50.508l323.011-323.011-323.011-323.029c-13.958-13.945-13.958-36.548 0-50.508 13.945-13.958 36.548-13.958 50.508 0l323.011 323.011 323.029-323.011c13.945-13.958 36.548-13.958 50.508 0s13.958 36.564 0 50.508l-323.011 323.029 323.011 323.011z'%3E%3C/path%3E%3C/svg%3E");
}

.navbar-toggler:focus {
  outline: 0;
}

.navbar-nav {
  @media (max-height: 374px) {
    .fixed-top & {
      max-height: 200px;
      overflow-y: auto;
    }
  }

  @include media-breakpoint-down(lg) {
    margin-top: 1rem;

    .nav-link {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }

  @include media-breakpoint-up(xl) {
    .nav-item + .nav-item {
      margin-left: 1rem;
    }
  }

  .nav-link {
    font: {
      family: $font-family-secondary;
      size: 1.0625rem;
      weight: 700;
    }

    .navbar-light & {
      color: $nav-color;

      &:hover {
        color: $nav-color-hover;
      }

      &.active {
        color: $nav-color-active;
      }
    }

    .nav-link-underline {
      border-bottom: 1px dashed currentColor;
    }
  }
}

.account-nav {
  .btn {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    color: #292929;
    font: {
      family: $font-family-secondary;
      size: 1.0625rem;
      weight: 500;
    }
    transition: all .15s ease-in-out;

    &:hover {
      color: $nav-color-hover;
      border-color: $nav-color-hover;

      .icon {
        color: $nav-color-hover;
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($nav-color-hover, .5);
    }
  }

  .icon {
    margin-right: .5rem;
    color: color("silver");
    font-size: 1.25rem;
    transition: all .15s ease-in-out;
  }
}
