$icomoon-font-path: "fonts" !default;

$icon-check-mark: "\e900";
$icon-check-mark-filled: "\e901";
$icon-clock: "\e902";
$icon-close: "\e903";
$icon-cogwheel: "\e904";
$icon-envelope: "\e905";
$icon-external-link: "\e906";
$icon-jabber: "\e907";
$icon-skype: "\e908";
$icon-telegram: "\e909";
$icon-user: "\e90a";

