* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.text-success {
  color: #4cae4f !important;
}

.text-danger {
  color: #f00000 !important;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  border-left: 4px solid transparent;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: #fffefe;
  color: #000;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .card {
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.2);
  }
}

.card-promocode {
  border-left-color: #03a19c;
}

.card-promocode .card-label,
.card-promocode .card-meta-item {
  color: #03a19c;
}

@media screen and (min-width: 480px) {
  .card-promocode .card-label {
    background-color: rgba(3, 161, 156, 0.05);
  }
}

.card-discount {
  border-left-color: #5a69b4;
}

.card-discount .card-label,
.card-discount .card-meta-item {
  color: #5a69b4;
}

@media screen and (min-width: 480px) {
  .card-discount .card-label {
    background-color: rgba(90, 105, 180, 0.05);
  }
}

@media screen and (max-width: 479px) {
  .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 13px 15px;
  }
}

@media screen and (min-width: 480px) {
  .card-body {
    padding: 0;
  }
  .card-body::after {
    display: block;
    clear: both;
    content: "";
  }
}

@media screen and (max-width: 479px) {
  .card-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .card-content {
    float: right;
    width: calc(100% - 110px);
    padding: 13px 15px 0;
  }
}

.card-heading {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.card-heading span {
  border-bottom: 1px solid transparent;
}

.card:hover .card-heading span {
  border-bottom-color: rgba(240, 0, 0, 0.2);
  color: #f00000;
}

@media screen and (min-width: 375px) {
  .card-heading {
    margin-bottom: 8px;
  }
  .card-heading:only-child {
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 480px) {
  .card-heading:only-child {
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 700px) {
  .card-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.16667;
  }
}

.card-text {
  margin-bottom: 14px;
  font-size: 13px;
  line-height: 1.38462;
}

@media screen and (max-width: 374px) {
  .card-text {
    display: none;
  }
}

.card-text p {
  margin: 0;
}

.card-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 11px;
  line-height: 1.18182;
  text-transform: lowercase;
}

@media screen and (max-width: 479px) {
  .card-meta {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 64%;
    flex: 0 0 64%;
    max-width: 64%;
  }
}

@media screen and (min-width: 480px) {
  .card-meta {
    float: right;
    width: calc(100% - 110px);
    padding: 0 15px 13px;
  }
}

@media screen and (min-width: 600px) {
  .card-meta {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 700px) {
  .card-meta {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
  }
}

@media screen and (min-width: 1180px) {
  .card-meta {
    font-size: 13px;
  }
}

.card-meta-time {
  color: #727272;
}

.card-image + .card-meta .card-meta-time:only-child {
  -ms-flex-item-align: center;
  align-self: center;
}

.card-meta-time:only-child .time {
  display: inline;
}

.card-meta-time .time {
  font-weight: 700;
}

@media screen and (max-width: 599px) {
  .card-meta-time .time {
    display: block;
  }
}

.card-meta-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 12px;
  font-weight: 700;
}

.card-meta-item .icon {
  display: none;
  margin-right: 4px;
  font-size: 16px;
}

@media screen and (min-width: 700px) {
  .card-meta-item .icon {
    display: inline-block;
  }
}

@media screen and (min-width: 600px) {
  .card-meta-item {
    padding-left: 20px;
  }
  .card-meta-item .line-break {
    display: none;
  }
}

.card-meta-check {
  display: none;
  color: #4cae4f !important;
}

@media screen and (min-width: 480px) {
  .card-meta-check {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.card-meta-check .icon-check-mark {
  font-size: 19px;
}

.card-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-label .icon-discount {
  height: 0.625em;
  font-size: 20px;
}

@media screen and (max-width: 699px) {
  .card-label .text-lg {
    font-size: 14px;
  }
  .card-label .text-sm {
    font-size: 11px;
  }
}

@media screen and (max-width: 479px) {
  .card-label {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 36%;
    flex: 0 0 36%;
    max-width: 36%;
  }
}

@media screen and (min-width: 480px) {
  .card-label {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    float: left;
    width: 110px;
    height: 100%;
    padding: 13px;
  }
  .card-label .text-lg {
    font-size: 24px;
  }
  .card-label .text-sm {
    font-size: 13px;
  }
  .card-label .icon-promocode {
    font-size: 24px;
  }
  .card-label .icon-discount {
    font-size: 32px;
  }
}

.card-label .text-lg {
  font-weight: 700;
}

.card-label-content {
  line-height: 1;
}

@media screen and (min-width: 480px) {
  .card-label-content {
    line-height: normal;
    text-align: center;
  }
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  padding: 13px 15px;
}

@media screen and (max-width: 699px) {
  .card-footer {
    display: none;
  }
}

@media screen and (min-width: 1180px) {
  .card-footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    max-width: 200px;
  }
}

.button {
  display: inline-block;
  padding: 13px 20px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-footer .button:focus {
  outline: 0;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1180px) {
  .card-footer .button {
    width: 100%;
  }
}

@media screen and (max-width: 1179px) {
  .card-button, .card-footer .button-code {
    width: 42px;
    height: 42px;
    padding: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23fff' d='M235.203 21.423c29.158-28.564 76.435-28.564 105.595 0l448 438.857c29.159 28.565 29.159 74.875 0 103.44l-448 438.855c-29.159 28.567-76.436 28.567-105.595 0-29.159-28.559-29.159-74.877 0-103.437l395.204-387.138-395.204-387.138c-29.159-28.565-29.159-74.876 0-103.44z'%3E%3C/path%3E%3C/svg%3E");
    background-color: #ff9800;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 56% auto;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
  }
  .card-button:focus, .card-footer .button-code:focus, .card-button:hover, .card-footer .button-code:hover {
    background-color: #f57c00;
  }
}

.card-button {
  background-color: #ff9800;
  border: 0;
  color: #fff;
}

.card-button:focus, .card-button:hover {
  background-color: #f57c00;
  color: #fff;
}

.button-code {
  position: relative;
  z-index: 1;
  width: 100%;
  color: #fff;
}

.button-code::before {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  z-index: -2;
  padding-right: 6px;
  background-color: #ffe5bf;
  color: #000;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  overflow: hidden;
  content: attr(data-code);
}

.button-code .corner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  overflow: hidden;
}

.button-code .corner::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 135%;
  height: 450%;
  background-color: #ff9800;
  -webkit-transform: rotate(51deg) translateX(35%);
  transform: rotate(51deg) translateX(35%);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transition: right .15s ease-in, background-color .3s ease;
  transition: right .15s ease-in, background-color .3s ease;
  content: "";
}

.button-code .corner::after {
  position: absolute;
  top: 5px;
  right: 17px;
  z-index: 1;
  width: 0;
  height: 0;
  border-bottom: solid #ff8101;
  border-right: solid transparent;
  border-width: 0;
  -webkit-box-shadow: -3px 5px 6px rgba(0, 0, 0, 0.05);
  box-shadow: -3px 5px 6px rgba(0, 0, 0, 0.05);
  -webkit-transform: skew(23deg) rotate(25deg);
  transform: skew(23deg) rotate(25deg);
  -webkit-transition: border-width .15s ease-in;
  transition: border-width .15s ease-in;
  content: "";
}

.button-code:focus .corner::before, .button-code:hover .corner::before {
  right: 50px;
  background-color: #f57c00;
}

.button-code:focus .corner::after, .button-code:hover .corner::after {
  border-width: 32px;
}

.card-footer .button-code {
  border: 0;
}

@media screen and (max-width: 1179px) {
  .card-footer .button-code::before {
    content: none;
  }
  .card-footer .button-code .corner {
    display: none;
  }
}
